body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 90vw; */
}
.panels{
    height: 80vh;
    margin: 10px;
    flex: 0.5;
    border-radius: 20px;
    position: relative;
    width: 15vw;
    transition: all 0.5s ease-in;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    border: 2px solid white;
}
.panels p{
    position: absolute;
    bottom: 0;
    font-weight: bold;
    opacity: 0;
    color: white;
    transition: all 0.5s ease-in 0.5s;
    margin-left: 10px;
    font-size: 1.2rem;
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: black;
}
.panels.active{
    flex: 5;
}
.panels.active p{
    opacity: 1;
}

@media screen and (max-width:468px){
    .container{
        width: 100vw;
    }
    .panels:nth-of-type(4),.panels:nth-of-type(5){
        display: none;
    }
}